@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700;800;900&family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");

* {
	box-sizing: border-box;
}

body {
	margin: 0px;
	font-family: "Source Sans Pro", "Arial", sans-serif;
}

/* General Style */
p {
	font-family: "Source Sans Pro", "Arial", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Playfair Display", "Times New Roman", serif;
}

/* Page Layout */
.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.column {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
}

.left {
	flex: 1;
	width: 50vw;
}

.right {
	padding: 1rem;

	min-height: 200vh; /* Remove later */
}

.sticky-wrapper {
	position: sticky;
	height: auto;
	top: 0px;
}

.sticky-content {
	min-height: 100vh;
	display: flex;
	align-items: center;

	padding-left: 5rem;
}

/* Nav */
nav {
	position: fixed;
	top: 1rem;
	left: 2rem;
	width: 40%;
	z-index: 100;

	background-color: rgba(255, 255, 255, 0.8);
}

/* Header */
.full-height {
	min-height: 100vh;
}

header {
	text-align: center;
}

header h1 {
	margin: 1rem;

	font-weight: 900;
	font-size: 2.5rem;
}

/* Left Side Styling */
.sticky-content h1 {
	color: #22278c;
	font-weight: 600;
	font-size: 2rem;
}

/* Project Descriptions */
.project-pullout {
	display: none;
	position: fixed;
	top: 0px;
	height: calc(100% - 2rem - 9px); /* adjust for margin, box shadow */
	left: 0px;
	width: calc(50% - 2rem - 17px); /* adjust for margin, scrollbar */

	margin: 1rem;
	border-left: 4px solid #22278c;
	padding: 1rem;

	background: #eee;
	box-shadow: 9px 9px #ddd;

	transition: all 0.4s ease;

	/* hide scrollbar -- https://stackoverflow.com/questions/16670931/hide-scroll-bar-but-while-still-being-able-to-scroll */
	overflow-y: scroll;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

/* hide scrollbar */
.project-pullout::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.animate__animated.animate__slideInLeft,
.animate__animated.animate__slideOutLeft {
	--animate-duration: 800ms;
}
