@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700;800;900&family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");

* {
	box-sizing: border-box;
}

body {
	margin: 0px;
	font-family: "Source Sans Pro", "Arial", sans-serif;
}

/* General Style */
p {
	line-height: 1.5rem;
	font-family: "Source Sans Pro", "Arial", sans-serif;
}

a {
	color: #22278c;
	text-decoration: none;
}
a:visited {
	color: #22278c;
}
a:hover {
	color: hsl(237, 76%, 25%);
	border-bottom: 1px solid #22278c;
}

a.green-text {
	color: #076b03;
	text-decoration: none;
}
a.green-text:visited {
	color: #076b03;
}
a.green-text:hover {
	color: #066103;
	border-bottom: 1px solid #066103;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Playfair Display", "Times New Roman", serif;

	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

button {
	display: inline-block;
	border: 0px solid #22278c;
	border-radius: 2px;
	padding: 0.8rem 2.1rem;
	margin: 0;
	background-color: inherit;
	color: #22278c;

	font-family: "Playfair Display", "Times New Roman", serif;
	font-weight: 700;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;

	cursor: pointer;
	outline: none;
	transition: background 250ms ease-in-out, border 250ms ease-in-out, transform 150ms ease;
	-webkit-appearance: none;
	-moz-appearance: none;
}

button:hover {
	transform: scale(1.005);
	background: #afc5f5;
	border-color: #afc5f5;
	/* color: #e5eaf5; */

	/*outline: 1px solid #fff;
	outline-offset: -5px;*/
}

button:active {
	transform: scale(0.995);
}

.spacer {
	margin-bottom: 3rem;
}

.unselectable {
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.selectable {
	cursor: initial;
	-webkit-touch-callout: initial !important;
	-webkit-user-select: initial !important;
	-moz-user-select: initial !important;
	-ms-user-select: initial !important;
	user-select: initial !important;
}

/* Color Helpers */
.blue-text {
	color: #22278c;
}

.green-text {
	color: #076b03;
}

/* Page Layout */
.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.column {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
}

.left {
	flex: 1;
	width: 50vw;
}

.right {
	flex: 2;
	padding: 5rem 1rem;
	width: 100%;
	/*min-height: 200vh;*/
}

.sticky-wrapper {
	position: sticky;
	height: auto;
	top: 0px;

	margin-left: 2rem;
	margin-bottom: 2rem;
}

/* .sticky-blue {
	box-shadow: 0.5rem 0 0px 0px #22278c inset;
}

.sticky-green {
	box-shadow: 0.5rem 0 0px 0px #076b03 inset;
} */

.sticky-content {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;

	padding-left: 3rem;
}

.sticky-blue .sticky-content > h1 .underline {
	/* border-bottom: 10px solid rgba(32, 39, 140, 0.5); */
	padding-bottom: 0.2rem;
	box-shadow: inset 0 -0rem white, inset 0 -1rem rgba(32, 39, 140, 0.15);
}

.sticky-green .sticky-content > h1 .underline {
	/* border-bottom: 10px solid rgba(32, 39, 140, 0.5); */
	padding-bottom: 0.2rem;
	box-shadow: inset 0 -0rem white, inset 0 -1rem rgba(7, 107, 3, 0.15);
}

/* Nav */
/* nav {
	position: fixed;
	top: 1rem;
	left: 2rem;
	width: 40%;
	z-index: 100;

	background-color: rgba(255, 255, 255, 0.8);
} */

/* Intro Header */
.full-height {
	min-height: 100vh;
}

.full-height header {
	text-align: center;
}

.full-height header h1 {
	margin: 1rem;

	font-weight: 900;
	font-size: 2.5rem;
}

.full-height section {
	padding: 7% 15%;
	text-align: center;
}

p.title {
	font-size: 1.5rem;
}

p.subtitle {
	font-size: 1.1rem;
	color: #777;
}

.full-height footer {
	position: absolute;
	width: 100%;
	bottom: 4rem;
	text-align: center;
}

/* Left Side Styling */
.sticky-content h1 {
	font-weight: 600;
	font-size: 2rem;
}

.sticky-blue > .sticky-content > h1 {
	color: #22278c;
}

.sticky-green > .sticky-content > h1 {
	color: #076b03;
}

/* Right Side Styling */
.right-content {
	margin-right: 5rem;
	max-width: 60rem;
}

.project-preview {
	text-align: left;
	margin-bottom: 20rem;
}

.project-preview-box {
	padding: 2rem 2rem 0.2rem;
	/* background-color: rgba(32, 39, 140, 0.15); */
	/* background: #e5eaf5; */
	/* border-left: 4px solid #22278c; */

	-webkit-transition: -webkit-box-shadow 0.75s ease;
	transition: -webkit-box-shadow 0.75s ease;
	-o-transition: box-shadow 0.75s ease;
	transition: box-shadow 0.75s ease;
	transition: box-shadow 0.75s ease, -webkit-box-shadow 0.75s ease;
}

/* .project-preview-box.project-preview-active {
	box-shadow: 9px 9px #ddd;
} */

.project-preview h1 {
	font-size: 1.5rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.project-preview p.subtitle {
	color: #22278c;
	/* border-top: 0.2rem solid #22278c; */
	padding-top: 1rem;
	text-align: center;
	font-weight: 600;
}

.project-preview p.cover-image {
	/* center align image */
	text-align: center;
}

p.cover-image img {
	width: auto;
	max-height: 15rem;
}

.project-preview-box-end {
	border-bottom: 0.2rem solid #22278c;
}

/* Project Description Panels */
.project-panel {
	display: none;
	position: fixed;
	top: 0px;
	height: calc(100% - 2rem - 9px); /* adjust for margin, box shadow */
	left: 0px;
	width: calc(50% - 2rem - 17px); /* adjust for margin, scrollbar */

	margin: 1rem;
	border-left: 4px solid #22278c;

	background: #eee;
	box-shadow: 9px 9px #ddd;

	transition: all 0.4s ease;

	/* hide scrollbar -- https://stackoverflow.com/questions/16670931/hide-scroll-bar-but-while-still-being-able-to-scroll */
	overflow-y: scroll;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.project-panel > header {
	position: fixed;
	width: calc(50% - 2rem - 17px - 4px); /* same width as .project-panel MINUS border */
	background: inherit;
	padding: 1rem;
}

.project-panel .project-content {
	margin-top: 3rem;
	padding: 1rem;
}

.project-panel img {
	max-width: 90%;
	margin: 1rem 5%;
	box-shadow: 0px 0px 25px #ddd;
}

.project-panel img + em,
.project-panel img + br + em {
	margin-left: 5%;
}

/* hide scrollbar */
.project-panel::-webkit-scrollbar {
	width: 0;
	height: 0;
}

button.closeProjectDescriptionButton {
	border: none;
	background-color: inherit;
	padding: 0.7rem 0.5rem;
	font-size: 1rem;
	font-weight: 600;
}
button.closeProjectDescriptionButton:hover {
	background: #ddd;
	color: #22278c;
	outline: none;
}

.animate__animated.animate__slideInLeft,
.animate__animated.animate__slideOutLeft {
	--animate-duration: 800ms;
}

.iframe-outer-container {
	width: 100%;
	height: 90%;
	overflow: hidden;
}

.iframe-inner-container {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

iframe.project-content {
	width: 100%;
	height: 100%;
}

/* Footer */
.turtle-parallax {
	background-image: url("assets/img/wave-circle.png");
	min-height: 5rem;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: 50% 98%;
	background-repeat: no-repeat;
	background-size: 3rem auto;
}

/* Mobile & Tablet */
@media screen and (max-width: 1215px) {
	/* Intro Header */
	.full-height section {
		padding: 5% 10%;
	}

	/* Project Description Panels */
	.project-panel {
		width: calc(100% - 2rem);
	}

	.project-panel > header {
		width: calc(100% - 2rem - 4px); /* same width as .project-panel MINUS border */
	}
}

/* Mobile Only */
@media screen and (max-width: 768px) {
	/* Page Layout */
	.column {
		display: unset;
		flex: unset;
	}

	.left {
		width: 100%;
		text-align: center;
	}

	.right {
		padding: 0rem 1rem 5rem;
		min-height: unset !important;
	}

	.sticky-wrapper {
		position: unset;
		margin: 0px;
		box-shadow: unset;
	}

	.sticky-content {
		min-height: unset;
		display: unset;
		padding: 0px;
	}

	.sticky-green .sticky-content > h1 .underline,
	.sticky-blue .sticky-content > h1 .underline {
		box-shadow: none;
	}

	.sticky-blue > .sticky-content > h1 {
		border-bottom: 4px solid #22278c;
		margin: 0px 1rem;
	}

	.sticky-green > .sticky-content > h1 {
		border-bottom: 4px solid #076b03;
		margin: 0px 1rem;
	}

	/* Intro Header */
	.full-height {
		min-height: unset;
	}

	.full-height footer {
		position: initial;
		margin-bottom: 8rem;
	}

	/* Right Side Styling */
	#projects {
		padding-top: 2rem;
	}

	.right-content {
		margin: 0;
	}

	.project-preview {
		text-align: center;
		min-height: unset;
		margin-bottom: 5rem;
	}

	.project-preview p.subtitle {
		border-top: unset;
		margin: 0px;
	}

	.project-preview img {
		width: 90%;
	}

	.project-preview-box-end {
		border-bottom: unset;
	}

	/* Special for Mobile */
	.hidden-touch {
		display: none !important;
	}

	.centered-touch {
		text-align: center !important;
	}

	#contactSocial {
		text-align: center;
	}

	.turtle-parallax {
		background: none;
	}
}
