@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700;800;900&family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");

* {
	box-sizing: border-box;
}

body {
	margin: 0px;
	font-family: "Source Sans Pro", "Arial", sans-serif;
}

/* General Style */
p {
	line-height: 1.5rem;
	font-family: "Source Sans Pro", "Arial", sans-serif;
}

a {
	color: #2d60b4;
	text-decoration: none;
}
a:visited {
	color: #2d60b4;
}
a:hover {
	color: #254f93;
	border-bottom: 1px solid #254f93;
}

a.green-text {
	color: #1d722b;
	text-decoration: none;
}
a.green-text:visited {
	color: #1d722b;
}
a.green-text:hover {
	color: #15511f;
	border-bottom: 1px solid #15511f;
}

a.gold-text {
	color: #6a654d;
	text-decoration: none;
}
a.gold-text:visited {
	color: #6a654d;
}
a.gold-text:hover {
	color: #534f3c;
	border-bottom: 1px solid #534f3c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Playfair Display", "Times New Roman", serif;

	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

button {
	display: inline-block;
	border: none;
	border-radius: 2px;
	padding: 0.8rem 2.1rem;
	margin: 0;
	background-color: inherit;
	color: #2d60b4;

	font-family: "Playfair Display", "Times New Roman", serif;
	font-weight: 700;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;

	cursor: pointer;
	outline: none;
	transition: background 250ms ease-in-out, border 250ms ease-in-out, transform 150ms ease;
	-webkit-appearance: none;
	-moz-appearance: none;
}

button:hover {
	transform: scale(1.01);
}

button:active {
	transform: scale(0.995);
}

.spacer {
	margin-bottom: 3rem;
}

.unselectable {
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.selectable {
	cursor: initial;
	-webkit-touch-callout: initial !important;
	-webkit-user-select: initial !important;
	-moz-user-select: initial !important;
	-ms-user-select: initial !important;
	user-select: initial !important;
}

/* Color Helpers */
.blue-text {
	color: #2d60b4;
}

.green-text {
	color: #1d722b;
}

.gold-text {
	color: #6a654d;
}

/* Background */
#gradient-background {
	background: url() no-repeat, linear-gradient(transparent, 95%, #fff),
		linear-gradient(200deg, #fff, #c6def1, #c9e4de);
	/* linear-gradient(135deg, #e2cfc4, #f7d9c4, #faedcb, #c9e4de, #c6def1, #dbcdf0, #f2c6de, #f9c6c9); */
}

/* Page Layout */
.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.column {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
}

.left {
	flex: 1;
	width: 50vw;
}

.right {
	flex: 2;
	padding: 5rem 1rem;
	width: 100%;
	/*min-height: 200vh;*/
}

.sticky-wrapper {
	position: sticky;
	height: auto;
	top: 0px;

	/* margin-left: 2rem; */
	margin-bottom: 10rem;
}

.sticky-content {
	/* min-height: 100vh; */
	display: flex;
	align-items: center;
	justify-content: center;

	padding-top: 1rem;
	padding-left: 3rem;
}

.sticky-blue .sticky-content > h1 .underline {
	padding-bottom: 0.2rem;
	box-shadow: inset 0 -0rem white, inset 0 -1rem rgba(32, 39, 140, 0.15);
}

.sticky-green .sticky-content > h1 .underline {
	padding-bottom: 0.2rem;
	box-shadow: inset 0 -0rem white, inset 0 -1rem rgba(21, 81, 31, 0.15);
}

.sticky-gold .sticky-content > h1 .underline {
	padding-bottom: 0.2rem;
	box-shadow: inset 0 -0rem white, inset 0 -1rem rgba(83, 79, 60, 0.15);
}

/* Nav */
/* nav {
	position: fixed;
	top: 1rem;
	left: 2rem;
	width: 40%;
	z-index: 100;

	background-color: rgba(255, 255, 255, 0.8);
} */

/* Intro Header */
.full-height {
	min-height: 100vh;
}

.full-height header {
	text-align: center;
}

.full-height header h1 {
	margin: 0;
	padding: 1rem;
	font-weight: 900;
	font-size: 4rem;
}

.full-height section {
	padding: 7% 15%;
	text-align: center;
}

p.title {
	font-size: 1.5rem;
}

p.subtitle {
	font-size: 1.1rem;
	color: #777;
}

.full-height footer {
	position: absolute;
	width: 100%;
	bottom: 4rem;
	text-align: center;
}

/* Left Side Styling */
.sticky-content h1 {
	font-weight: 600;
	font-size: 2rem;
}

.sticky-blue > .sticky-content > h1 {
	color: #2958a3;
}

.sticky-green > .sticky-content > h1 {
	color: #1d722b;
}

.sticky-gold > .sticky-content > h1 {
	color: #6a654d;
}

/* Right Side Styling */
.right-content {
	margin-right: 5rem;
	max-width: 60rem;
}

.project-preview {
	text-align: left;
	margin-bottom: 8rem;
}

.project-preview-box {
	-webkit-transition: -webkit-box-shadow 0.75s ease;
	transition: -webkit-box-shadow 0.75s ease;
	-o-transition: box-shadow 0.75s ease;
	transition: box-shadow 0.75s ease;
	transition: box-shadow 0.75s ease, -webkit-box-shadow 0.75s ease;

	padding: 0rem 2rem;
}

.project-preview h1 {
	font-size: 1.5rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.project-preview p.subtitle {
	color: #2d60b4;
	/* border-top: 0.2rem solid #2D60B4; */
	padding-top: 1rem;
	text-align: center;
	font-weight: 600;
}

.project-preview p.cover-image {
	/* center align image */
	text-align: center;
}

p.cover-image img {
	width: auto;
	max-width: 100%;
	max-height: 15rem;
}

/* Project Description Panels */
.project-panel {
	display: none;
	position: fixed;
	top: 0px;
	height: calc(100% - 2rem - 9px); /* adjust for margin, box shadow */
	right: 0px;
	width: calc(50% - 2rem - 17px); /* adjust for margin, scrollbar */

	margin: 1rem;
	border-left: 4px solid #2d60b4;

	/* background: #eee;
	box-shadow: 9px 9px #ddd; */

	/* background: rgba(210, 210, 207, 0.4); */
	/* rgba(226, 226, 223, 0.6); */
	background: rgba(254, 254, 254, 0.7);
	box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(15px);
	-webkit-backdrop-filter: blur(15px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);

	transition: all 0.4s ease;

	/* hide scrollbar -- https://stackoverflow.com/questions/16670931/hide-scroll-bar-but-while-still-being-able-to-scroll */
	overflow-y: scroll;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.project-panel > header {
	position: fixed;
	width: calc(50% - 2rem - 17px - 4px); /* same width as .project-panel MINUS border */
	padding: 1rem;
}

.project-panel .project-content {
	padding: 1rem 1.5rem;
}

.project-panel img {
	max-width: 90%;
	margin: 1rem 5%;
	box-shadow: 0px 0px 25px #ddd;
}

.project-panel img + em,
.project-panel img + br + em {
	margin-left: 5%;
}

/* hide scrollbar */
.project-panel::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.closeProjectDescriptionButtonContainer {
	display: none;
	position: fixed;
	top: 1rem;
	right: 1rem;

	background: rgba(249, 198, 201, 0.2);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border-radius: 90px;
}

button.closeProjectDescriptionButton {
	border: none;
	background: none;
	font-size: 1rem;
	font-weight: 600;

	padding: 0;
	width: 3rem;
	height: 3rem;
	border-radius: 90px;
	color: #ef6b74;
}

button.closeProjectDescriptionButton:hover {
	background: rgba(249, 198, 201, 0.4);
	color: #eb4752;
	outline: none;

	transition: color 250ms ease-in-out;
}

.animate__animated.animate__slideInRight,
.animate__animated.animate__slideOutRight {
	--animate-duration: 500ms;
}

code.hljs {
	background: unset;
}

/* Glassmorphism */
.glass-box {
	/* rgba(226, 226, 223, 0.6); */
	background: rgba(254, 254, 254, 0.7);
	/* rgba(31, 38, 135, 0.37); */
	box-shadow: 0 8px 15px 0 rgba(100, 100, 100, 0.25);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}

/* Footer */
.turtle-parallax {
	background-image: url("assets/img/wave-circle.png");
	min-height: 7rem;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: 50% 94.5%;
	background-repeat: no-repeat;
	background-size: 3rem auto;

	box-shadow: 0px -15px 0px white;
}

/* Mobile & Tablet */
@media screen and (max-width: 1215px) {
	/* Intro Header */
	.full-height section {
		padding: 5% 10%;
	}

	/* Project Description Panels */
	.project-panel {
		width: calc(100% - 2rem);
	}

	.project-panel > header {
		width: calc(100% - 2rem - 4px); /* same width as .project-panel MINUS border */
	}
}

/* Mobile Only */
@media screen and (max-width: 768px) {
	/* Background */
	#gradient-background {
		background: none;
	}
	/* Page Layout */
	.column {
		display: unset;
		flex: unset;
	}

	.left {
		width: 100%;
		text-align: center;
	}

	.right {
		padding: 0rem 1rem 5rem;
		min-height: unset !important;
	}

	.sticky-wrapper {
		position: unset;
		margin: 0px;
		box-shadow: unset;
	}

	.sticky-content {
		min-height: unset;
		display: unset;
		padding: 0px;
	}

	.sticky-content .sticky-content > h1 .underline {
		box-shadow: none;
	}

	.sticky-content > .sticky-content > h1 {
		margin: 0px 1rem;
	}

	.sticky-blue > .sticky-content > h1 {
		border-bottom: 4px solid #2d60b4;
	}

	.sticky-green > .sticky-content > h1 {
		border-bottom: 4px solid #1d722b;
	}

	.sticky-gold > .sticky-content > h1 {
		border-bottom: 4px solid #6a654d;
	}

	/* Intro Header */
	.full-height {
		min-height: unset;
	}

	.full-height footer {
		position: initial;
		margin-bottom: 8rem;
	}

	/* Right Side Styling */
	#projects {
		padding-top: 2rem;
	}

	.right-content {
		margin: 0;
	}

	.project-preview {
		text-align: center;
		min-height: unset;
		margin-bottom: 5rem;
	}

	.project-preview p.subtitle {
		border-top: unset;
		margin: 0px;
	}

	.project-preview img {
		width: 90%;
	}

	/* Special for Mobile */
	.hidden-touch {
		display: none !important;
	}

	.centered-touch {
		text-align: center !important;
	}

	#contactSocial {
		text-align: center;
	}

	.turtle-parallax {
		background: none;
	}
}
