extends template/section-green.pug

block sectionTitle
	h1 &#x1F3C4; ABOUT

block sectionBody
	#about
		.hidden-touch(style="height: 50vh;")
		div.unselectable
			.centered-touch: img(src="assets/img/me.png" style="max-width: 100px; margin-top: 2rem;")
			p.spacer &nbsp;
			p I write software. I believe innovative ideas by themselves cannot stand alone; instead, ideas must seek to influence the world in positive, meaningful ways.
			p.spacer
			p On the weekends, I hike, read, and eat vanilla ice cream.
			//- p &#x1F4BC; You may find a list of my projects on this portfolio.
		.hidden-touch(style="height: 50vh;")
