extends template/section-green.pug

block sectionTitle
	h1 &#x1F3C4; ABOUT

block sectionBody
	#about
		.hidden-touch(style="height: 50vh;")
		div
			img(src="assets/img/me.png" style="max-width: 100px;")
			p.spacer &nbsp;
			p Coming soon!
			p &#x1F4BC; You may find a list of my projects on this portfolio.
		.hidden-touch(style="height: 50vh;")
