extends template/section-green.pug

block sectionTitle
	h1 &#x1F54A; CONTACT

block sectionBody
	#contact
		.hidden-touch(style="height: 30vh;")
		div
			p Please reach out to me for a resume or for any inquiries.
			p I am always stoked to meet new people and build exciting, impactful projects.
			p.spacer
			.centered-touch
				h1.selectable(style="margin-bottom: 0.3rem;") Brandon Yee
				a(href="mailto:hello@brandonyee.io") hello@brandonyee.io
			p.spacer
			#contactSocial(style="width: 100%")
				span(style="font-size: 2.5rem;")
					a(href="https://www.linkedin.com/in/brandon-y/" target="_blank"): i.fab.fa-linkedin
					span &nbsp;&nbsp;&nbsp;
					a(href="https://github.com/Firebird1029" target="_blank"): i.fab.fa-github
					span &nbsp;&nbsp;&nbsp;
					a(href="https://www.instagram.com/brandon.y/" target="_blank"): i.fab.fa-instagram
		//- .hidden-touch(style="height: 30vh;")
