.full-height(style="position: relative;")
	header
		h1 Brandon Yee
	section
		p.title.unselectable.animate__animated.animate__fadeIn
			span(style="vertical-align: middle; line-height: 2rem;") &#x1F44B; &nbsp; Hey, I'm Brandon, an undergraduate student at Yale studying computer science. I enjoy experimenting with automation, IoT, and different ways technology can uplift others.
		p.spacer
		//- p.subtitle.animate__animated.animate__fadeIn.animate__delay-1s
			span *I am actively seeking internship or employment opportunities for Summer 2021. Please contact me 
			a(style="opacity: 0.9; cursor: pointer;" onclick="scrollToID('contact')") here.
	footer
		span(style="font-size: 2.5rem; color: #22278c;")
			a(href="https://www.linkedin.com/in/brandon-y/" target="_blank"): i.fab.fa-linkedin
			span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			a(href="https://github.com/Firebird1029" target="_blank"): i.fab.fa-github
			span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			a(href="mailto:hello@brandonyee.io" target="_blank"): i.fas.fa-envelope
			//- a(href="https://www.instagram.com/brandon.y/" target="_blank"): i.fab.fa-instagram
