doctype html
html(lang="en")
	head
		include head.pug
	body
		//-
			<nav>
			<a href="#projects">Projects</a>
			</nav>
		article#gradient-background
			include hero.pug
			include about.pug
			include projects.pug
			include contact.pug

		.turtle-parallax.hidden-touch
			div(style="width: 100%; text-align: center; position: fixed; bottom: 0; z-index: -1;")
				h3.unselectable Brandon Yee

		include panels.pug

		footer
			script(src="https://cdn.jsdelivr.net/combine/npm/aos@2,npm/showdown@1")
			script(src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.6.0/build/highlight.min.js")
			script(src="/utils.js")
			script(src="/script.js", async)
