//- article.project-panel#FOO-description[data-google=""]>button.closeProjectDescriptionButton>i.fas.fa-arrow-left+{&nbsp;&nbsp;Back}^div.iframe-outer-container>div.iframe-inner-container>iframe.project-content[frameborder="0" srcdoc="Loading..."]{Darn it, this website is not compatible with your browser yet.}

mixin projectPanel({id})
	article.project-panel(id="panel_" + id)
		.project-content
			p Sorry, this page is still being written! &nbsp; &#x1F613;

each project, index in PROJECTS
	+projectPanel(project)

div.closeProjectDescriptionButtonContainer
	button.closeProjectDescriptionButton
		i.fas.fa-times.fa-lg
