extends template/section-blue.pug

mixin projectPreview({title, linkHref, linkText, imageSrc, description, alias})
	.project-preview
		.project-preview-box
			p.subtitle
			br
			h1!= title
			a(href=linkHref target="_blank")!= linkText
			br
			if imageSrc
				p.cover-image
					img(src=imageSrc alt="" width="50%")
			p!= description
			p.spacer
			p(style="text-align: center;")
				button(onclick="openProjectDescription('" + alias + "')") Learn More

block sectionTitle
	h1 &#x1F4A1; PROJECTS

block sectionBody
	#projects
		//- Change var --project-preview-total in the CSS to change the counter.

		each project, index in PROJECTS
			+projectPreview(project)
